# File: /requirements.txt
fastapi==0.115.0
uvicorn==0.30.6
python-telegram-bot==21.5
google-cloud-firestore==2.19.0
google-generativeai==0.8.3  # Cập nhật thành phiên bản mới nhất, ví dụ: 0.9.0 hoặc cao hơn
pydantic==2.9.2
pydantic-settings==2.5.2
feedparser==6.0.11
pytesseract==0.3.13
Pillow==10.4.0
python-dotenv==1.0.1
